.categories-wrapper {
    width: 100%;
    max-width: 1300px;
    justify-self: center;

    .categories-container {
        display: flex;
        gap: 16px;
        padding: 0px 30px;
        align-items: stretch;

        .col {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .category-card {
            position: relative;
            flex: 1;
            scale: 1;
            transition: scale 0.3s ease-in-out;

            .category-cover-img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                opacity: 0.6;
                cursor: pointer;
                border-radius: 10px;
                scale: 1;
                transition: scale 0.3s ease-in-out;
            }

            &:hover .category-cover-img {
                scale: 1.03;
            }

            .category-title {
                position: absolute;
                cursor: pointer;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                font-family: "Doto", sans-serif;
                font-size: 60px;
                font-optical-sizing: auto;
                font-weight: 800;
                font-style: normal;
                font-variation-settings:
                    "ROND" 0;

                @media (min-width:600px) and (max-width: 1000px) {
                    font-size: 50px;
                }

                @media (max-width: 599px) {
                    font-size: 30px;
                }
            }
        }

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .col {
                display: contents;
            }

            .category-card {
                flex: unset;

                .category-cover-img {
                    height: 150px;
                }
            }
        }
    }
}