.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100%;

  .mobile-header-section {
    position: fixed;
    top: 0px;
    z-index: 30;
    background-color: black;
    width: 100vw;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand-name {
      color: white;
      background-color: black;
      font-family: "Special Gothic Expanded One", sans-serif;
      padding-left: 8px;
      font-size: 26px;
    }

    .social-media-container {
      display: flex;
      flex-direction: row;
      gap: 5px;
      padding-right: 8px;

      @media (min-width: 768px) {
        display: none;
      }

      .social-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 27px;
        width: 27px;
        background-color: #d6d6d6;
        border-radius: 5px;
        padding: 4px;
        cursor: pointer;

        &:hover {
          img {
            scale: 0.9;
            transition: scale ease-in-out 0.2s;
          }
        }
      }
    }
  }

  .header-section {
    width: 100%;
    background-color: black;

    @media(max-width: 1024px) {
      margin-top: 44px;
    }

    .header-top {
      justify-self: center;
      display: flex;
      width: 100%;
      max-width: 1920px;
      height: 55px;
      align-items: center;

      .social-media-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        height: 55px;
        min-width: 180px;
        align-items: center;

        @media (max-width: 768px) {
          display: none;
        }

        .social-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 27px;
          width: 27px;
          background-color: #d6d6d6;
          border-radius: 5px;
          padding: 4px;
          cursor: pointer;

          &:hover {
            img {
              scale: 0.9;
              transition: scale ease-in-out 0.2s;
            }
          }
        }
      }

      .info-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        color: white;
        font-family: sans-serif;

        @media(max-width: 768px) {
          margin: 0px;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 10px;
          font-size: 14px;
        }

        a {
          margin-left: 5px;
          text-decoration: none;
          color: white;
          text-decoration: underline;

          @media(max-width: 768px) {
            margin: 0px;
          }
        }
      }

      .close-header {
        display: flex;
        justify-content: center;
        min-width: 80px;

        @media (max-width: 768px) {
          min-width: 56px;
        }

        .close-header-btn {
          background: none;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .navbar-section {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1250px;
  }

  .hero-section {
    position: relative;
    width: 100%;
    max-width: 1920px;
    justify-self: center;
    background-color: #f0f0f0;

    @media (max-width: 768px) {
      height: 760px;
    }

    @media (min-width: 769px) and (max-width:1024px) {
      height: 630px;
      display: flex;
      align-items: flex-end;
      background-color: #f0f0f0;
      padding-top: 50px;
    }


    .hero-img {
      width: 100%;
      background-color: #f0f0f0;
      display: flex;
      justify-content: flex-end;

      img {
        padding-right: 20px;

        @media (max-width: 768px) {
          position: absolute;
          opacity: 0.5;
          right: -230px;
          bottom: 0;
          width: auto;
          padding: 0px;
        }

        @media (min-width: 769px) and (max-width: 1024px) {
          position: absolute;
          right: -100px;
          bottom: 0;
          width: auto;
          padding: 0px;
        }
      }
    }

    .hero-content {
      position: absolute;
      top: 100px;
      left: 5vw;

      @media (max-width: 768px) {
        left: 0vw;
        top: 0px;
      }

      @media (min-width:769px) and (max-width:1290px) {
        bottom: 0px;
        height: 100%;
        top: auto;
        display: flex;
        flex-direction: column;
        left: 4vw;
      }

      .hero-heading {
        font-family: "Special Gothic Expanded One", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        letter-spacing: 1px;
        padding-left: 20px;

        @media (max-width: 768px) {
          font-size: 40px;
          margin-top: 20px;
          padding-right: 20px;
        }

        @media(min-width: 769px) and (max-width:1024px) {
          font-size: 42px;
          margin-top: 40px;
        }

        @media (min-width:1025px) and (max-width:1290px) {
          font-size: 52px;
          margin-top: 20px;
        }
      }

      .hero-subheading {
        font-size: 20px;
        margin-top: 12px;
        padding-left: 20px;

        @media (max-width: 768px) {
          padding-right: 20px;
        }
      }

      .cta-btn {
        margin-top: 50px;
        padding-left: 20px;

        @media (max-width:500px) {
          display: flex;
          justify-content: center;
          padding: 0px;
        }

        @media (min-width:500px) and (max-width: 768px) {
          margin-top: 25px;
          padding: 0px;
          width: 100vw;
          padding-left: 20px;
        }

        button {
          width: 210px;
          height: 52px;
          background-color: black;
          color: white;
          border: 0px;
          border-radius: 62px;
          font-size: 16px;
          cursor: pointer;

          @media (max-width: 500px) {
            width: 80%;
            height: 44px;
            padding: 0px;
          }
        }
      }

      .hero-stats-sections {
        display: flex;
        gap: 2px;
        width: 617px;
        margin-top: 24px;

        @media (max-width: 500px) {
          flex-direction: column;
          max-width: 400px;
          justify-self: center;
          align-items: center;
        }

        @media (min-width: 500px) and (max-width:1024px) {
          flex-direction: column;
          max-width: 190px;
        }

        @media (min-width:1025px) and (max-width:1290px) {
          width: 500px;
          margin-top: auto;
          margin-bottom: 80px;
          background-color: #d1d1d129;
          border-radius: 10px;
        }

        .stat {
          max-width: 190px;
          padding: 0px 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-right: 1px solid #d1d1d1;

          @media (max-width: 500px) {
            width: 100%;
            align-items: center;
          }

          @media(max-width:1024px) {
            border-bottom: 1px solid #d1d1d1;
            border-right: none;
            padding-bottom: 20px;
          }

          &:last-child {
            border: none;
          }

          .stat-data {
            font-family: "Red Hat Display", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 48px;

            @media (max-width: 400px) {
              font-size: 40px;
            }

            @media (min-width:1025px) and (max-width:1290px) {
              font-size: 36px;
            }
          }
        }
      }
    }
  }

  .products-section {
    margin-top: 50px;
    width: 100vw;

    .section-title {
      width: 100%;
      max-width: 1920px;
      justify-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Special Gothic Expanded One", sans-serif;
      font-size: 52px;
      margin-bottom: 40px;

      @media (max-width: 767px) {
        font-size: 45px;
        text-align: center;
      }
    }

    .section-break {
      border: 1px solid black;
      width: 98vw;
      max-width: 1920px;
      justify-self: center;
      margin: 50px 0px;
      opacity: 0.2;
    }


  }
}